/*  your css code here. If applicable */
body{
	margin:8px;
	background-color:#f5f5f5;
}

.header{
	color:white;
	padding:10px;
	text-align:center;
	background-color:#011e29;
}

.main{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:flex-start;
	gap:20px;
    padding:20px;
}

.latest-news-section,
.main-article,
.pictorial-news-section{
	background-color:white;
	border-radius:20px;
	padding:15px;
	text-align:center;
}

.latest-news-section{
	width:20%;
}
.main-article{
	width:50%;
}
.pictorial-news-section{
	width:20%;
}

img{
	margin-bottom:10px;
	width:100%;
}



